<!doctype html>
<html>
<head>
  <title>CodeKollektiv</title>
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0, user-scalable=no">
  <style type="text/css" media="screen">
    body, html {
      font-size: 16px;
      font-family: "Helvetica Neue";
    }
  </style>
</head>
<body>
  <h1>Kaffeekasse</h1>
  <p>
    <a href="/users">Users</a>
  </p>
</body>
</html>