<!doctype html>
<html>
<head>
  <title>Download Your Pass</title>
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0, user-scalable=no">
  <style type="text/css" media="screen">
    body, html {
      font-size: 24px;
      font-family: "Helvetica Neue";
    }
  </style>
</head>
<body>
  <p>
    <a href="<%= "/#{@pass_serial_number}.pkpass" %>">Download your pass</a>
  </p>
</body>
</html>